<div class="rx-weather-app-container">
  <div class="rx-weather-content">
    <div class="rx-weather-card">
      <div class="rx-weather-side">
        <div class="weather-gradient"></div>
        <div class="rx-weather-type">
          <div class="weather-icon sun"></div>
        </div>
        <div class="rx-weather-basic-info">
          <span class="title">Rome, It</span>
          <span class="title grades">16°C</span>
          <span class="title">Max 18°C / Min 15°C</span>
        </div>
        <div class="rx-weather-footer">
          <span class="title">Tuesday</span>
          <span class="title">15 Jan 2021</span>
        </div>
      </div>
      <div class="rx-weather-other-info-side">
        <div class="rx-weather-other-info-side-box">
          <div class="rx-weather-item">
            <div class="rx-weather-item-left">
              <span>Domenica</span>
              <span class="rx-weather-item-left-icon"><i class="fa fa-cloud"></i></span>
            </div>
            <div class="rx-weather-item-right">
              <span>24</span>
              <span>16</span>
            </div>
          </div>

          <div class="rx-weather-item">
            <div class="rx-weather-item-left">
              <span>Lunedi</span>
              <span class="rx-weather-item-left-icon"><i class="fa fa-sun-o"></i></span>
            </div>
            <div class="rx-weather-item-right">
              <span>28</span>
              <span>16</span>
            </div>
          </div>
          <div class="rx-weather-item">
            <div class="rx-weather-item-left">
              <span>Martedi</span>
              <span class="rx-weather-item-left-icon"><i class="fa fa-sun-o"></i></span>
            </div>
            <div class="rx-weather-item-right">
              <span>24</span>
              <span>14</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
