$bg-color: #f5f5f5;
$white: #fff;
$gray: #5d5959;

.rx-weather-app-container {
  --blue_300: #05349cc2;
  --blue_150: #0095ff;
  --gradient: linear-gradient(135deg, var(--blue_300) 10%, var(--blue_150) 100%);

  background-color: $bg-color;
  height: 100vh;

  .rx-weather-content {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;

    .rx-weather-card {
      border-radius: 8px;
      position: relative;
      min-width: 600px;
      height: 450px;
      background-color: $white;
      box-shadow: 0px 0px 25px 1px rgb(50 50 50 / 10%);
      -webkit-animation: appear 500ms ease-out forwards;
      animation: appear 500ms ease-out forwards;

      .weather-gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: var(--gradient);
        border-radius: 10px;
        opacity: 0.8;
      }
      .rx-weather-side {
        position: relative;
        height: 100%;
        border-radius: 25px;
        width: 300px;
        background-color: $white;
        -webkit-box-shadow: 0 0 20px -10px rgb(0 0 0 / 20%);
        box-shadow: 0 0 20px -10px rgb(0 0 0 / 20%);
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        -o-transition: transform 300ms ease;
        transition: transform 300ms ease,
        -webkit-transform 300ms ease;
        -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
        transform: translateZ(0) scale(1.02) perspective(1000px);
        float: left;

        &:hover {
          -webkit-transform: scale(1.1) perspective(1500px) rotateY(
              10deg
          );
          transform: scale(1.1) perspective(1500px) rotateY(
              10deg
          );
        }

        .title {
          font-weight: 600;
          color: $white;
          font-size: 1.2rem;
        }
      }

      .rx-weather-other-info-side {
        display: flex;
        flex-direction: column;
        color: $gray;
        height: 100%;
        background-color: $white;
        border-radius: 8px;

        .rx-weather-other-info-side-box {
          padding: 2rem;
        }

        .rx-weather-item {
          display: flex;
          width: 100%;
          margin-top: 10px;

          .rx-weather-item-right {
            flex: 20;
            display: flex;
            justify-content: space-around;
            align-items: center;
          }

          .rx-weather-item-left {
            display: flex;
            width: 100%;
            flex: 80;
            height: 100%;
            align-items: center;

            .rx-weather-item-left-icon {
              margin-right: 2rem;
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }

      .rx-weather-type {
        position: absolute;
        top: 0;
        left: 25px;
      }

      .rx-weather-basic-info {
        position: absolute;
        top: 25px;
        right: 25px;
        display: flex;
        flex-direction: column;

        .grades {
          font-size: 4rem;
        }
      }

      .rx-weather-footer {
        position: absolute;
        bottom: 25px;
        left: 25px;
        display: flex;
        flex-direction: column;
      }
    }

    .rx-weather-input-container {
      margin-bottom: 5rem;

      input {
        background-color: $white;
        border: none;
        padding: 8px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 2px $white solid;

        &:focus {
          outline: none;
          border-bottom: 2px var(--blue_150) solid;
        }
      }
    }
  }
}
